<div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
This repository includes all of the data and files for IIIF manifests and images processed by the Digital CoLab for HIST 2391/AMST 2391: From Terra Incognita to Territories of Nation-States: Early American History in Two Dozen Maps. All files were processed by <a href="https://github.com/kam535">Kiran Mohammadi-Williams</a>, so if you have questions about the contents, please reach out to her.
<br>
Images were processed using <a href="https://github.com/glenrobson">Glen Robson's</a><a href="https://github.com/glenrobson/iiif-tiler">IIIF Tiler</a> and <a href="https://workbench.gdmrdigital.com/login.xhtml">IIIF Workbench</a>, GitHub, and <a href="https://digital.bodleian.ox.ac.uk/manifest-editor/#/?_k=fsgx3h">Bodleian IIIF Manifest Editor.</a>
<br>
Please don't change any of the names of directories and files in this repo or the name of the repo itself because it will break everything.
</div>
