<h1>IIIF Images & Manifests for HIST 2391</h1>
<p>This repository includes all of the data and files for IIIF manifests and images procssed by the CoLab for HIST 2391/AMST 2391: From Terra Incognita to Territories of Nation-States: Early American History in Two Dozen Maps.</p> 

<br>
<p>All files were processed by Kiran Mohammadi-Williams, so if you have questions about the contents, please reach out to her.</p>
<br>
<p>Images were processed using Glen Robson's IIIF Tiler and IIIF Workbench, GitHub, and Bodleian IIIF Manifest Editor.</p>
